{% extends "base.html" %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load i18n %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
<style>
    /*icon styles*/
    .fi-social-facebook {
      color: dodgerblue;
      font-size: 2rem;
    }
    .fi-social-youtube {
      color: red;
      font-size: 2rem;
    }
    .fi-social-pinterest {
      color: darkred;
      font-size: 2rem;
    }
    i.fi-social-instagram {
      color: brown;
      font-size: 2rem;
    }
    i.fi-social-tumblr {
      color: navy;
      font-size: 2rem;
    }
    .fi-social-twitter {
      color: skyblue;
      font-size: 2rem;
    }
    i.fi-skull {
      color: red;
      font-size: 2rem;
    }
    .social-fi {
      font-size: 2rem;
    }
</style>
    <article class="grid-container">
        <h1>{{ page.title }}</h1>

    <div class="intro">{{ page.intro|richtext }}</div>

    </article>
    <hr>        
    <article class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="large-8 cell" style="border-right: 1px solid #E3E5E8;">

                {% for post in blogpages %}
                    <div class="grid-x grid-margin-x">
                        <div class="large-6 cell">
                            <p>{% image post.specific.image max-400x400 %}</p>
                        </div>
                        <div class="large-6 cell">
                            <h5><a href="{% pageurl post %}">{{ post.title }}</a></h5>
                            <p>
                                <span><i class="fi-torso"> {{ post.owner }} </i> </span>
                                <span><i class="fi-calendar"> {{ post.specific.date }}</i></span>

                            </p>
                            <p>{{ post.specific.intro|richtext }}</p>
                            
                        </div>
                    </div>
                        
                    
                        <hr>
                {% endfor %}    
      
          

                <nav aria-label="Pagination">
                  <ul class="pagination">
                      {% if blogpages.has_previous %}
                          <li class="pagination-previous">
                              <a href="?page={{ blogpages.previous_page_number }}" aria-label="Previous page">{% trans "Previous" %}</a>
                          </li>
                      {% else %}
                      <li class="pagination-previous disabled">
                        <span>{% trans "Previous" %}</span>
                    </li>
                      {% endif %}
                      {% for page_num in blogpages.paginator.page_range %}
                          <li class="{% if page_num == blogpages.number %}current{% endif %}">
                              <a href="?page={{ page_num }}" aria-label="Page {{ page_num }}">{{ page_num }}</a>
                          </li>
                      {% endfor %}
                      {% if blogpages.has_next %}
                          <li class="pagination-next">
                              <a href="?page={{ blogpages.next_page_number }}" aria-label="Next page">{% trans "Next" %}</a>
                          </li>
                          {% else %}
                          <li class="pagination-next disabled">
                            <span>{% trans "Next" %}</span>
                        </li>
                      {% endif %}
                  </ul>
              </nav>
      
        </div>
        <div class="grid-x large-4 cell">
      
          <aside>
      
            <div class="grid-x small-up-3">
              {% for social in socialLinks %}
                <div class="cell text-center">
                  <a href="{{ social.url }}" target="_blank"><i class="fi-{{ social.icon| default:"skull"}} social-fi"></i>
                  <h6>{{ social.follow|default:"xx" }}</h6>
                  <p><small>FOLLOWERS</small></p></a>
                </div>
              {% endfor %}
            </div>
      
            <br>
      
            
            </div>
      
          </aside>
      
        </div>
      </article>
    

{% endblock %}